<div>
  <%= flash[:notice] %>
</div>

<div class="container px-5 px-sm-0">
  <div class="row">
  <div class="col-md-3">
  <%= render 'info', user: @user %>
  <%= render 'books/list', book: @book %>
</div>
</div>
</div>